*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.box{
    position: relative;
    padding: 20px;
    background-color: #fff;
}
.box::before{
    content: "oldingi kontent";
    color: red;
    font-weight: bold;
}
.box::after{
    content: "keyingi kontent";
    color: blueviolet;
    font-weight: 400;
}
p::first-line{
    color: blue;
    font-weight: bold;
}
p::first-letter{
    color: red;
    font-size: 100px;
    padding-top: 20px;
}